# .dockerignore

# Ignorer les dépendances locales et les logs
node_modules
logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignorer les fichiers d'environnement (seront injectés dans l'environnement de prod)
.env
.env.*
!.env.example

# Ignorer les fichiers de configuration de l'IDE et de l'OS
.vscode
.idea
.DS_Store

# Ignorer les fichiers de test et de couverture
src/tests
coverage
jest.config.js

# Ignorer les fichiers Git
.git
.gitignore

# Ignorer le Dockerfile lui-même et docker-compose
Dockerfile
docker-compose.yml 